div {
  border: 2px solid black;
}

.div1 {
  /* width: 200px; */
  /* width: 10cm; */
  /* width: 50%; */
}

/* .div2 {
  color: red;
}

.div3 {
  color: initial;
} */

/* .div4 {
  padding-left: 40px;
  color: red;
}

.p2 {
  padding: inherit;
}

.p3 {
  color: initial;
} */

/* .div5 {
  width: 90%;
  min-width: 300px;
  max-width: 900px;
} */

/* .img1 {
  width: 100%;
  min-width: 300px;
  max-width: 800px;
} */

/* .img1 {
  max-width: 100%;
} */

/* .img1 {
  width: 100%;
  min-height: 200px;
  max-height: 400px;
} */

/* .div5 {
  min-height: 90px;
  max-height: 144px;
  overflow: auto;
} */

.div6 {
  /* width: 500px;
  height: 200px; */

  inline-size: 500px;
  block-size: 200px;

  writing-mode: vertical-rl;
}